.container {

    background-size: cover;
    color: #FFF;
    text-align: center;
    color: #FFF;
    font-family: Merriweather;
    font-style: normal;
    font-size: 30px;
    padding: 150px;
    /* font-size: larger; */
    font-weight: 900;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)
}


header {
    background-image: url(' ../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;

}

/* section menu is start */

.section-menu {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 120px;
}

.section-menu h1 {
    color: #FF0000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: -48px;

}

.section-menu p {
    color: #F00;
    text-align: center;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: -26px;


}

.section-menu h3 {
    color: #070211;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: -30px;
}

/* second section is here */

.second-section-cover {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.second-section {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)
}

.second-section h1 {
    color: white;
    font-family: inherit;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 7.04px;
    padding-top: 105px;
    padding-left: 105px;

}

.second-section p {
    color: white;
    font-family: inherit;
    padding-left: 105px;

}



.join-button {
    margin-left: 105px;
    border: none;
    background-color: rgb(227, 164, 3);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    margin-top: 30px;
}